
<header class="header">
  <div>
    <input class="search">
  </div>
  <app-user></app-user>
</header>
<app-product></app-product>
<footer class="mat-grid-tile-footer">
  <h1>products</h1>
</footer>

