<div>
  <button class="signInBtn" (click)="login()">Sign In</button>
<!--  <div>{{adalService.userInfo.userName| json}}</div>-->
  <button class="SignUpBtn" (click)="navigateToSignUpPage()">Sign Up</button>
</div>
